{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "endOfLine": "auto",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ],
  "tailwindFunctions": ["tv"],
  "customFunctions": ["cn", "tv"],
  "customAttributes": ["@apply"],
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
